body {
  margin: 10px;
}

.box {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, dodgerblue, yellow, tomato);
}

.box2 {
  width: 1000px;
  height: 250px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    37deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
