body {
  margin: 10px;
}
a[href^="https"][href*="google"][href$=".com"] {
  color: orange;
}
#title {
  color: black;
  background-color: beige;
  font-weight: bold;
}

article.product {
  font-size: xx-large;
  color: brown;
}
